*{
    margin: 0;
    padding: 0;
    font-style: sans-serif;
    box-sizing: border-box;
    color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(77, 75, 75);
}
.container{
    position: relative;
}

.clock{
    height: 300px;
    width:300px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255 ,0.1);
    border: 2px solid rgb(255, 255, 255 ,0.25);
    box-shadow:0px 0px 30px black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clock span{
    position :absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset:12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i))) ;
    display: inline-block;
    font-size:20px;
}

/* making point to the center of the clock*/

.clock::before{
    content:'';
    position :absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:white;
    z-index: 2; /* the center point will upward by z-index*/
}
.hand{
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    width:4px;
    height: var(--h);
    background-color: var(--clr);
    border-radius:8px
}